//----- Variables  ------>

// Colors
@color-background: #f4f4f4;
@color-border: #bbbbbb;
@color-font: #333333;
@color-font-light: #777777;
@color-shadow: rgba(153,153,153,0.48);
@color-error: #ff9494;

// Fonts
@font-family: Arial;
@font-base: 16px;
@font-small: @font-base -4px;

// Breakpoints
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

// Borders
@border-radius: 3px;

// Spacing
@spacing-base: 15px;

// Heights
@height-player: 60px;
@height-search: 35px;
