<template>
  <main class="Main">
    <section class="Panel Panel--Left">
      <Search
        :addSearchResults="addSearchResults"
        :clearSearchResults="clearSearchResults"
        :getData="getData"
      />
      <ErrorMessage v-if="error" text="Oops there was an error searching for your results" />
      <SongsList
        v-if="searchResults"
        :song="song"
        :searchResults="searchResults"
        :songPlaying="songPlaying"
        :selectSong="selectSong"
      />
    </section>
    <section class="Panel Panel--Right">
      <Player
        v-if="song"
        :song="song"
        :songPlaying="songPlaying"
        :updateCurrentPlaying="updateCurrentPlaying"
      />
      <AlbumResults :albumResults="albumResults" />
    </section>
  </main>
</template>

<script>
import {
  Player,
  Search,
  SongsList,
  AlbumResults,
  ErrorMessage
} from "@/components";
import { Helpers, Api } from "@/utilities";
import { debounce } from "lodash-es";

export default {
  name: "Main",
  components: {
    Search,
    SongsList,
    Player,
    AlbumResults,
    ErrorMessage
  },
  data() {
    return {
      song: null,
      songPlaying: null,
      searchResults: null,
      albumResults: null,
      error: false
    };
  },
  methods: {
    async selectSong(song) {
      if (song !== this.song && Helpers.isDesktop()) {
        await this.getAlbumResults(song);
      }
      this.song = song;
    },

    updateCurrentPlaying(song) {
      this.songPlaying = song;
    },

    clearSearchResults() {
      this.searchResults = null;
    },

    addSearchResults(searchResults) {
      this.searchResults = searchResults;
    },

    setSearchResults(stateName, results) {
      this[stateName] = results;
      this.error = false;
    },

    async getAlbumResults(song) {
      await this.getData(song.collectionId, "albumResults", "album");
    },

    getData: debounce(async function(query, stateName, type) {
      try {
        let results;
        let stateName;
        const queryResults = await Api.get(query, type);

        if (type === "album") {
          stateName = "albumResults";
          // Filter out album's as we only want the track
          // to add to the playable songs
          results = queryResults.results.filter(
            result => result.wrapperType === "track"
          );
        } else {
          stateName = "searchResults";
          results = queryResults.results;
        }

        this.setSearchResults(stateName, results);
      } catch (error) {
        this[stateName] = null;
        this.error = true;
      }
    }, 500)
  }
};
</script>

<style lang="less" scoped>
@import "../styles/variables.less";

.Main {
  padding: 0 0 @height-player;

  @media (min-width: @screen-md) {
    padding-bottom: 0;
    display: flex;
  }

  .Panel {
    width: 100%;

    @media (min-width: @screen-md) {
      width: 50%;
      min-height: 100vh;
    }

    &--Left {
      @media (min-width: @screen-md) {
        width: 400px;
        box-shadow: 3px 0px 15px 0px @color-shadow;
        position: relative;
        z-index: 10;
      }
    }
  }
}
</style>
