<template>
  <ul class="AlbumResults">
    <li class="AlbumResults-Song" v-for="song in this.albumResults" :key="song.trackId">
      <strong>{{ song.trackName }}</strong>
    </li>
  </ul>
</template>

<script>
export default {
  name: "AlbumResults",
  props: ["albumResults"]
};
</script>

<style lang="less" scoped>
@import "../styles/variables.less";

.AlbumResults {
  width: 100%;
  padding: @spacing-base*2 0;
  margin: 0;

  &-Song {
    width: 80%;
    margin: 0 auto;
    padding: @spacing-base 0;
    height: 24px;
    line-height: 24px;
    border-top: 1px solid @color-border;
    list-style-type: none;
  }
}
</style>
