<template>
  <em class="ErrorMessage">
    {{ text }}
  </em>
</template>

<script>
export default {
  name: "ErrorMessage",
  props: ["text"]
};
</script>

<style lang="less" scoped>
@import "../styles/variables.less";

.ErrorMessage {
  padding-top: @spacing-base;
  display: block;
  text-align: center;
  color: @color-error;
  font-weight: bold;
}
</style>
