<template>
  <section class="Player">
    <figure v-if="song" class="Player-Image">
      <img :alt="song.collectionName" :src="song.artworkUrl100" />
    </figure>
    <audio ref="audioPlayer" type="audio/mp4">
      Your browser does not support the audio element.
    </audio>
    <div class="Player-Controls">
      <i class="Player-Icons material-icons">fast_rewind</i>
      <i v-if="!isPlayButtonShowing" class="Player-Icons material-icons" @click="pauseAudio">pause</i>
      <i v-if="isPlayButtonShowing" class="Player-Icons material-icons" @click="playAudio">play_arrow</i>
      <i class="Player-Icons material-icons">fast_forward</i>
    </div>
    <Error v-if="error" text="Oops there was an error trying to play this song" />
  </section>
</template>

<script>
import { ErrorMessage } from "@/components";
import { Helpers } from "@/utilities";

export default {
  name: "Player",
  props: ["song", "songPlaying", "updateCurrentPlaying"],
  components: {
    ErrorMessage
  },
  data() {
    return {
      error: false,
      playing: null,
      audioPlayer: null
    };
  },
  mounted() {
    const { song } = this;
    this.audioPlayer = this.$refs.audioPlayer;
    this.loadAudio(song);
  },
  watch: {
    song: function(song, newSong) {
      if (song.trackId !== newSong.trackId && !Helpers.isDesktop()) {
        this.loadAudio(song);
      }
    }
  },
  computed: {
    isPlayButtonShowing() {
      return this.songPlaying !== this.song
        ? true
        : this.playing
          ? false
          : true;
    }
  },
  methods: {
    loadAudio(song) {
      if (!Helpers.isDesktop()) {
        if (this.playing) this.pauseAudio();
        this.playAudio(null, song);
      }
    },

    pauseAudio() {
      this.audioPlayer.pause();
      this.playing = false;
    },

    playAudio(event, song = null) {
      const songToPlay = song ? song : this.song;
      this.audioPlayer.src = songToPlay.previewUrl;
      this.audioPlayer.play();
      this.updateCurrentPlaying(songToPlay);
      this.playing = true;
    }
  }
};
</script>

<style lang="less" scoped>
@import "../styles/variables.less";

.Player {
  position: fixed;
  bottom: 0;
  z-index: 100;
  height: @height-player;
  width: 100%;
  background: @color-background;
  box-shadow: 0px -2px 5px 0px @color-shadow;

  @media (min-width: @screen-md) {
    position: relative;
    box-shadow: none;
    height: auto;
    z-index: 1;
  }

  &-Controls {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-Icons {
    font-size: 40px;
    color: @color-font-light;
    cursor: pointer;
    user-select: none;
  }

  &-Image {
    display: none;

    @media (min-width: @screen-md) {
      display: block;
      margin: 0 auto;
      text-align: center;
      padding: @spacing-base;
    }
  }
}
</style>
