<template>
  <section class="Search">
    <input
      class="Search-Input"
      type="text"
      v-model="searchQuery"
      @input="handleSearchInput"
      placeholder="Search artist"
    />
  </section>
</template>

<script>
export default {
  name: "Search",
  props: ["getData"],
  data() {
    return {
      searchQuery: ""
    };
  },
  methods: {
    handleSearchInput(e) {
      const searchQuery = e.target.value;
      this.getData(searchQuery, "searchResults", "search");
    }
  }
};
</script>

<style lang="less" scoped>
@import "../styles/variables.less";

.Search {
  padding: @spacing-base;

  &-Input {
    border: 1px solid @color-border;
    border-radius: @border-radius;
    display: block;
    font-size: 24px;
    height: @height-search;
    line-height: @height-search;
    margin: 0 auto;
    text-indent: 20px;
    width: 100%;

    @media (min-width: @screen-md) {
      width: 80%;
    }
  }
}
</style>
