<template>
  <li :class="`SongItem ${modifiedClass}`" @click="handleSongItemClick">
    <div class="SongItem-Wrapper">
      <figure class="SongItem-Image">
        <img :alt="song.collectionName" :src="song.artworkUrl60" />
      </figure>
      <div class="SongItem-Info">
        <strong class="SongItem-Text SongItem-Text--Title">{{ song.trackName }}</strong>
        <span class="SongItem-Text">{{ song.artistName }}</span>
        <span class="SongItem-Text SongItem-Text--Small">{{ song.collectionName }}</span>
      </div>
      <div class="SongItem-Status">
        <i v-if="active" class="material-icons">music_note</i>
      </div>
    </div>
  </li>
</template>

<script>
export default {
  name: "SongItem",
  props: ["song", "selectSong", "active"],
  computed: {
    modifiedClass() {
      return this.active ? "SongItem--Active" : "";
    }
  },
  methods: {
    handleSongItemClick() {
      this.selectSong(this.song);
    }
  }
};
</script>

<style lang="less" scoped>
@import "../styles/variables.less";

.SongItem {
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--Active {
    background: darken(@color-background, 15%);
    border-top: 1px solid @color-border;
    border-bottom: 1px solid @color-border;
    margin: -1px 0;

    .SongItem-Wrapper {
      border-top: none;
    }
  }

  &-Wrapper {
    display: flex;
    padding: @spacing-base 0;
    margin: 0 @spacing-base;
    border-top: 1px solid @color-border;
  }

  &-Image {
    width: 60px;
    text-align: center;
    margin: 0;
  }

  &-Info {
    padding-left: @spacing-base;
    width: ~"calc(100% - 90px)";
  }

  &-Text {
    display: block;
    font-size: @font-base - 2px;
    line-height: @font-base * 1.2;
    color: lighten(@color-font, 20%);

    &--Title {
      font-size: @font-base;
      color: @color-font;
    }

    &--Small {
      font-size: @font-small;
      color: lighten(@color-font, 40%);
    }
  }

  &-Status {
    width: 30px;
    display: flex;
    align-items: center;
  }
}
</style>
