<template>
  <ul class="SongsList">
    <SongItem
      v-for="result in searchResults"
      :key="result.trackId"
      :song="result"
      :active="(song !== null && songPlaying !== null) && (result.trackId === songPlaying.trackId)"
      :selectSong="selectSong"
    />
  </ul>
</template>

<script>
import { SongItem } from "@/components";

export default {
  name: "SongsList",
  components: { SongItem },
  props: ["searchResults", "selectSong", "songPlaying", "song"]
};
</script>

<style lang="less" scoped>
.SongsList {
  margin: 0;
  padding: 0;
}
</style>
